html,
body,
#root,
.App {
  height: 100%;
}

/* Navbar */
.nav {
  background-color: white;
  height: 8%;
  color: rgb(104, 99, 99);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  top: 0;
  opacity: 0.95;
  z-index: 100;
  width: 100%;
}

.nav-profile_button {
  display: flex;
  align-items: center;
  margin-right: 8%;
  margin-left: 20%;
  transition: transform 250ms;
}

.nav-profile_button:hover {
  transform: translateY(-3px);
  font-weight: bold;
}
.nav-icon {
  height: 34px;
}

.nav-profile_text {
  margin-bottom: 2%;
  font-size: 150%;
  font-family: var(--chakra-fonts-body);
  letter-spacing: 1%;
  color: rgb(104, 99, 99);
}

.nav-education_button {
  margin-right: 2%;
  font-size: 125%;
  transition: transform 250ms;
}

.nav-education_button:hover {
  transform: translateY(-5px);
  text-decoration: underline;
}

.nav-skills_button {
  margin-right: 2%;
  font-size: 125%;
  transition: transform 250ms;
}

.nav-skills_button:hover {
  transform: translateY(-5px);
  text-decoration: underline;
}

.nav-work_button {
  margin-right: 2%;
  font-size: 125%;
  transition: transform 250ms;
}

.nav-work_button:hover {
  transform: translateY(-5px);
  text-decoration: underline;
}

.nav-projects_button {
  margin-right: 2%;
  font-size: 125%;
  transition: transform 250ms;
}

.nav-projects_button:hover {
  transform: translateY(-5px);
  text-decoration: underline;
}

.nav-cca_button {
  margin-right: 2%;
  font-size: 125%;
  transition: transform 250ms;
}

.nav-cca_button:hover {
  transform: translateY(-5px);
  text-decoration: underline;
}

.nav-achievements_button {
  margin-right: 10%;
  font-size: 125%;
  transition: transform 250ms;
}

.nav-achievements_button:hover {
  transform: translateY(-5px);
  text-decoration: underline;
}

@media (max-width: 900px) {
  .nav {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 8%;
    overflow-x: scroll;
  }
  .nav-profile_button {
    margin-left: 50%;
    margin-right: 10%;
  }
  .nav-profile_text {
    margin-bottom: 2%;
    font-size: 100%;
    font-family: var(--chakra-fonts-body);
    letter-spacing: 1%;
    color: rgb(104, 99, 99);
  }
}

/* main */
.main {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.main-intro-box {
  height: 150px;
  width: 50%;
  background-color: white;
  color: grey;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border-radius: 10px;
}

.intro-name {
  margin-top: 1%;
  margin-left: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: var(--chakra-fontSizes-3xl);
}

.intro-description {
  margin-top: 1%;
  margin-right: 2%;
  font-size: 110%;
  font-family: var(--chakra-fonts-body);
  margin-left: 2%;
}

.main-profile-icon {
  height: 100%;
}

.socials_tag {
  font-family: sans-serif;
  font-size: x-large;
  text-align: center;
  margin-top: 4%;
  font-weight: bold;
  color: grey;
}

.socials_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.github_icon {
  margin-top: 3%;
  margin-right: 5%;
  transition: transform 250ms;
}

.github_icon:hover {
  transform: translateY(-5px);
}

.linkedin_icon {
  margin-top: 3%;
  margin-right: 5%;
  transition: transform 250ms;
}

.linkedin_icon:hover {
  transform: translateY(-5px);
}

.email_icon {
  margin-top: 3%;
  margin-right: 5%;
  transition: transform 250ms;
}

.email_icon:hover {
  transform: translateY(-5px);
}

.instagram_icon {
  margin-top: 3%;
  transition: transform 250ms;
}

.instagram_icon:hover {
  transform: translateY(-5px);
}
@media (max-width: 900px) {
  .main-wrap {
    height: 100vh;
    overflow-y: scroll;
  }

  .main {
    overflow-x: hidden;
    height: 80vh;
  }

  .main-intro-box {
    height: 100px;
    width: 80%;
    background-color: white;
    color: grey;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 10px;
  }

  /* .main-intro-subbox {
    height: 100%;
    width: 60%;
    background-color: white;
    color: grey;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  } */
  .intro-name {
    margin-top: 1%;
    margin-left: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: bold;
    font-size: large;
  }

  .intro-description {
    margin-top: 1%;
    margin-right: 2%;
    font-size: small;
    font-family: var(--chakra-fonts-body);
    margin-left: 2%;
  }
  .main-resume {
    margin-top: 20%;
  }

  .App {
    height: 100vh;
    overflow-y: scroll;
  }
}

/* education */
.education_div {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  animation: slidein 3s;
}
/*work */
.work_div {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
  flex-direction: row;
  /* margin-left: 2.5%;
  margin-right:2.5%; */
  padding: 2%;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(15rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  position: relative;
}

.card_body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 50px;
}

.card_button_left {
  margin-right: 10%;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card_body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.item-image-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px;
}
.item-image-container > img {
  max-width: 100%;
  max-height: 100%;
}
.item-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.item-postion {
  margin-bottom: 10px;
}
.item-subtitle,
.item-desc {
  color: var(--text-gray-color);
  margin-bottom: 20px;
  text-align: center;
}
.item-subtitle {
  text-align: center !important;
}

.expFlex {
  margin-top: 100px;
  max-width: 1024px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overall_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 900px) {
  .expContainer {
    padding: 0px;
    max-width: 100vw;
  }

  .expFlex {
    flex-direction: column;
    width: 90vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
}

/* skills */
.skillsContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}
.skillsFlex {
  max-width: 1024px;
  gap: 20px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
}

.rightContainer {
  display: flex;
  flex: 4;
  flex-direction: column;
}
.itemContainer {
  margin-top: 30px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.itemTitle {
  flex: 1;
  padding: 10px;
  color: grey;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.itemTitle > span {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 600;
}

.itemDesc {
  flex: 3;
}

.itemDesc > p {
  margin-top: 20px;
  padding: 10px;
  color: black;
}

.skillsTitle {
  padding: 10px;
  font-size: 32px;
}

@media (max-width: 900px) {
  .itemContainer {
    flex-direction: column;
    width: 90vw;
  }
  .skillsContainer {
    margin-top: 10%;
    padding: 0px;
    max-width: 100vw;
    display: flex;
    height: 100%;
    overflow: auto;
  }
}

/* projects */
.projects_div {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
.projects_git_icon {
  position: absolute;
  margin-top: 20px;
  bottom: 10px;
  left: 20px;
  transition: transform 250ms;
}
.projects_git_icon_actual {
  position: relative;
  bottom: 0px;
}

.projects_git_icon:hover {
  transform: translateY(-5px);
}

.card_body > p {
  margin-left: 6%;
}
.cca_div {
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* achievements */
.achievements_div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* copyright */
.copyright_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}

.copyright_header {
  margin-top: 0%;
  font-size: 100%;
  margin-bottom: 2%;
  color: rgb(15, 15, 15);
}

@media (max-width: 900px) {
  .copyright_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
  }
}
