html, body, #root, .App{
  height: 100%;
}


.nav {
  background-color: #FFFFFF;
  height: 8%;
  color: rgb(104, 99, 99);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
  position:fixed;
  top:0;
  opacity: 0.95;
  z-index: 100;
  width: 100%;
}

.nav-profile_button{
  display: flex;
  align-items: center;
  margin-right: 8%;
  margin-left: 20%;
}

.nav-icon{
  height:34px;
}

.nav-profile_text{
  margin-bottom: 2%;
  font-size: 160%;
  font-family:"Poppins";
  letter-spacing: 1%;
  font-weight: bold;
  color: #080808;
}

.nav-education_button{
  margin-right: 2%;
  font-size: 125%;
}

.nav-skills_button{
  margin-right: 2%;
  font-size: 125%;
}

.nav-work_button{
  margin-right: 2%;
  font-size: 125%;
}

.nav-projects_button{
  margin-right: 2%;
  font-size: 125%;
}

.nav-cca_button{
  margin-right: 2%;
  font-size: 125%;
}

.nav-achievements_button{
  margin-right: 2%;
  font-size: 125%;
}

.main{
  display:flex;
  align-items: center;
  flex-direction: column;
  height:100%;
}

.main-intro-box{
  height: 150px;
  width: 50%;
  background-color: rgba(5, 0, 0, 0.63);
  color: #FFFFFF;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
}

.intro-name{
  margin-top: 1%;
  margin-left: 2%;
  font-size: 225%;
  font-weight: 500;
  font-family: sans-serif;
}

.intro-description{
  margin-top: 1%;
  margin-right: 2%;
  font-size: 130%;
  font-family: sans-serif;
  margin-left: 2%;
}

.socials_tag {
  font-family: sans-serif;
  font-size: x-large; 
  text-align: center;
  margin-top: 4%;
  font-weight: bold;
}

.socials_bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.github_icon{
  margin-top: 3%;
  margin-right: 5%;
  transition: transform 250ms;
}

.github_icon:hover {
  transform: translateY(-5px);
}

.linkedin_icon{
  margin-top: 3%;
  margin-right: 5%;
  transition: transform 250ms;
}

.linkedin_icon:hover {
  transform: translateY(-5px);
}

.email_icon{
  margin-top: 3%;
  margin-right: 5%;
  transition: transform 250ms;
}

.email_icon:hover {
  transform: translateY(-5px);
}

.instagram_icon{
  margin-top: 3%;
  transition: transform 250ms;
}

.instagram_icon:hover {
  transform: translateY(-5px);
}

.education_div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education_header{
  margin-top: 6%;
  height: 15%;
  font-size: 350% ;
  font-weight: bold;
  font-family: sans-serif;
}

.education_university{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.education-universityname{
  margin-top: 2%;
  margin-left: 4%;
  font-size: 130%;
  font-weight: bold;
}

.education-universitypointers{
  margin-top: 1%;
  margin-left: 6%;
  font-size: 115%;
  margin-bottom: 2%;
}

.education_juniorcollege{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.education-juniorcollegename{
  margin-top: 2%;
  margin-left: 4%;
  font-size: 130%;
  font-weight: bold;
}
.education-juniorcollegepointers{
  margin-top: 1%;
  margin-left: 6%;
  font-size: 115%;
  margin-bottom: 2%;
}

.skills_div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills_header{
  margin-top: 6%;
  height: 15%;
  font-size: 350%;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 2%;
}

.skills_programming{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.skills_programming_header{
  margin-top: 2%;
  margin-left: 5%;
  font-size: 150%;
  font-weight: bold;
}

.skills_programming_pointers{
  margin-top: 1%;
  margin-left: 7%;
  font-size: 100%;
  margin-bottom: 2%;
}

.skills_languages_header{
  margin-top: 2%;
  margin-left: 5%;
  font-size: 150%;
  font-weight: bold;
}

.skills_languages_pointers{
  margin-top: 1%;
  margin-left: 7%;
  font-size: 100%;
  margin-bottom: 2%;
}

.skills_software_header{
  margin-top: 2%;
  margin-left: 5%;
  font-size: 150%;
  font-weight: bold;
}

.skills-software{
  margin-top: 1%;
  margin-left: 5%;
  font-size: 120%;
  margin-bottom: 2%;
}

.work_div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_header{
  margin-top: 6%;
  height: 15%;
  font-size: 350%;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 2%;
}

.work_box{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.work_title{
  margin-top: 2%;
  margin-left: 5%;
  font-size: 150%;
  font-weight: bold;
}

.work_pointers{
  margin-top: 1%;
  margin-left: 7%;
  font-size: 100%;
  margin-bottom: 2%;
}

.projects_div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects_header{
  margin-top: 6%;
  height: 15%;
  font-size: 350%;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 2%;
}

.projects_box{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.projects_title{
  margin-top: 2%;
  margin-left: 5%;
  font-size: 150%;
  font-weight: bold;
}

.projects_pointers{
  margin-top: 1%;
  margin-left: 7%;
  font-size: 100%;
  margin-bottom: 1%;
}

.projects_git_icon{
  margin-top: 1%;
  transition: transform 250ms;
  margin-left:5%;
  margin-bottom: 2%;
}

.projects_git_icon:hover {
  transform: translateY(-5px);
}

.projects_box2{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.projects_title2{
  margin-top: 2%;
  margin-left: 5%;
  font-size: 150%;
  font-weight: bold;
}

.projects_pointers2{
  margin-top: 1%;
  margin-left: 7%;
  font-size: 100%;
  margin-bottom: 2%;
  
}

.cca_div{
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cca_header{
  margin-top: 7%;
  height: 15%;
  font-size: 350%;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 2%;
}

.cca_box{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.cca_title{
  margin-top: 2%;
  margin-left: 5%;
  font-size: 150%;
  font-weight: bold;
  margin-right: 5%;
}

.cca_pointers{
  margin-top: 1%;
  margin-left: 7%;
  font-size: 100%;
  margin-bottom: 2%;
  margin-right: 5%;
}

.football_box{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.volunteering_box{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.achievements_div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achievements_header{
  margin-top: 7%;
  height: 15%;
  font-size: 350%;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 2%;
}

.achievements_box{
  font-family: sans-serif;
  background-color: rgba(204, 199, 199, 0.404);
  color: #050505;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  width: 50%;
  margin-bottom: 2.5%;
}

.achievements_title{
  margin-top: 2%;
  margin-left: 5%;
  font-size: 150%;
  font-weight: bold;
}

.achievements_pointers{
  margin-top: 1%;
  margin-left: 7%;
  font-size: 100%;
  margin-bottom: 2%;
}

.copyright_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}

.copyright_header{
  margin-top: 5%;
  font-size: 100%;
  margin-bottom: 2%;
  color: rgb(15, 15, 15);
}