.nav {
  background-color: #FFFFFF;
  height: 70px;
  color: rgb(104, 99, 99);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
}

.nav-profile_button{
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-left: 250px;
}

.nav-icon{
  height:34px;
  margin-right: 0px;
}

.nav-profile_text{
  font-size: 25px;
  font-family:"Poppins";
  letter-spacing: 0.005em;
  font-weight: bold;
  color: #080808;
}

.nav-education_button{
  margin-right: 22px;
  font-size: 1.2em;
}

.nav-skills_button{
  margin-right: 22px;
  font-size: 1.2em;
}

.nav-work_button{
  margin-right: 22px;
  font-size: 1.2em;
}

.nav-projects_button{
  margin-right: 22px;
  font-size: 1.2em;
}

.nav-cca_button{
  margin-right: 22px;
  font-size: 1.2em;
}

.nav-achievements_button{
  margin-right: 22px;
  font-size: 1.2em;
}

.main{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.main-intro-box{
  height: 100px;
  width: 700px;
  background-color: rgba(5, 0, 0, 0.63);
  color: #FFFFFF;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
}

.intro-name{
  margin-left: 10px;
  font-size: 30px;
  font-weight: 500;
  font-family: sans-serif;
}

.intro-description{
  margin-left: 10px;
  font-family: sans-serif;
}

.socials_tag {
  font-family: sans-serif;
  font-size: x-large; 
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.socials_bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 44px;
}

.github_icon{
  margin-top: 30px;
  margin-right: 100px;
  transition: transform 250ms;
}

.github_icon:hover {
  transform: translateY(-5px);
}

.linkedin_icon{
  margin-top: 30px;
  margin-right: 100px;
  transition: transform 250ms;
}

.linkedin_icon:hover {
  transform: translateY(-5px);
}

.email_icon{
  margin-top: 30px;
  margin-right: 100px;
  transition: transform 250ms;
}

.email_icon:hover {
  transform: translateY(-5px);
}

.instagram_icon{
  margin-top: 30px;
  transition: transform 250ms;
}

.instagram_icon:hover {
  transform: translateY(-5px);
}

.education_header{
  font-size: 50px;
}